@font-face {
    font-family: paragraphs;
    src: url(../fonts/Oxygen/OxygenMono-Regular.ttf);
}
@font-face {
    font-family: titles;
    src: url(../fonts/Rubik_Mono_One/RubikMonoOne-Regular.ttf);
}
@font-face {
    font-family: subtitles;
    src: url(../fonts/Signika_Negative/SignikaNegative-Regular.ttf);
}
:root{
    --light-color:#EEEEEE;
    --dark-color:#000000;
    --blue-color:#34B3F1;
    --orange-color:#F15412;

    --fontsize-clamp-901:clamp(12px,1.5vw,2.2vw);
    --fontsize-clamp-900:clamp(15px,1.5vw,2.2vw);

    --alertCharacters:0;
    --typingSpeed:1.8s;
    
}
.alert{
    width: fit-content;
    height: fit-content;
    display: flex;
    padding: 3%;

}
    .alert h1{
        font-family:paragraphs;
        position: relative;
        font-size: .9em;
        min-width: max-content;
    }
    .alert h1::before{
        content:'';
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        background-color: white;
    }
    .alert h1::after{
        content: '👀';
        font-size: 1.5em;
        position: absolute;
        top:-50%;
        bottom: 0;
        right: 0;
    }

    .addMessage::before{
        left: 0;
        animation:typing var(--typingSpeed) steps(var(--alertCharacters)) forwards ;
    }
    .addMessage::after{
        left: 0;
        animation:typing var(--typingSpeed) steps(var(--alertCharacters)) forwards ;
    }

    .removeMessage::before{
        left: 100%;
        animation:erase var(--typingSpeed) steps(var(--alertCharacters)) forwards;
    }
    .removeMessage::after{
        left: 100%;
        animation:erase var(--typingSpeed) steps(var(--alertCharacters)) forwards;
    }

    @keyframes typing {
        to{
            left: 100%;
        }
    }
    @keyframes erase {
        to{
            left: 0%;
        }
    }
    
@media only screen and (min-width:901px){
   
}
@media only screen and (orientation:landscape) and (hover:none){}