@font-face {
    font-family: paragraphs;
    src: url(../fonts/Oxygen/OxygenMono-Regular.ttf);
}
@font-face {
    font-family: titles;
    src: url(../fonts/Rubik_Mono_One/RubikMonoOne-Regular.ttf);
}
@font-face {
    font-family: subtitles;
    src: url(../fonts/Signika_Negative/SignikaNegative-Regular.ttf);
}
:root{
    --light-color:#EEEEEE;
    --dark-color:#000000;
    --blue-color:#34B3F1;
    --orange-color:#F15412;

    --fontsize-clamp-901:clamp(12px,1.5vw,2.2vw);
    --fontsize-clamp-900:clamp(15px,1.5vw,2.2vw);
    
}
.modal{
    position: fixed;
    display: flex;
    width: fit-content;
    height: fit-content;
    top: 3%;
    left: 3%;
}


@media only screen and (max-width:900px){
}
@media only screen and (min-width:901px){
}
@media only screen and (orientation:landscape) and (hover:none){}